.main {
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.main .banner {
  width: 100%;
  margin-top: 1.5%;
}

.main .banner img {
  width: 100%;
  height: 100%;
}

.main .main-type {
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  padding-bottom: 5%;
  display: flex;
  border-bottom: 10px solid #eee;
}

.main .main-type dl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  align-items: center;
}

.main .main-type dl dt {
  background: orange;
  color: #fff;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-type dl dd {
  margin-top: 2%;
}

.main .main-hot {
  width: 100%;
}

.main .main-hot .hotBox {
  width: 100%;
}

.main .main-hot .hotBox h3 {
  width: 100%;
  height: 1.17333rem;
  border-left: 8px solid orange;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 5%;
}

.main .main-hot .hotBox .main-hot-con {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-flow: wrap;
  padding-top: 5%;
  border-top: 3px solid #eee;
}

.main .main-hot .BangBox {
  width: 100%;
  margin-top: 5%;
}

.main .main-hot .BangBox h3 {
  width: 100%;
  height: 1.17333rem;
  border-left: 8px solid orange;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 5%;
}

.main .main-hot .BangBox .main-hot-con {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-flow: wrap;
  border-top: 3px solid #eee;
}
