$font-size:37.5px;
@function rem($px){
    @return $px / $font-size *1rem;
}
.main{
    width: 100%;
    height: 100%;
    flex:1 ;
    overflow: auto;
    .banner{
        width: 100%;
        margin-top: 1.5%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main-type{
        width: 100%;
        margin: 0 auto;
        margin-top: 5%;
        padding-bottom: 5%;
          display: flex;
          border-bottom: 10px solid #eee;
          
        dl{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 20%;
            align-items: center;
            dt{
                background: orange;
                color: #fff;
                border-radius: 50%;
                width: rem(30px);
                height: rem(30px);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            dd{
                margin-top: 2%;
            }
        }
                 
    }
    .main-hot{
        width: 100%;

        .hotBox{
            width: 100%;
            h3{
                width: 100%;
                height: rem(44px);
                border-left: 8px solid orange;
                display: flex;
                align-items: center;
                font-size: 18px;
                padding-left: 5%;
            
            }
            .main-hot-con{
                width: 100%;
                display: flex;
                margin: 0 auto;
                flex-flow: wrap;
                padding-top: 5%;
                border-top: 3px solid #eee;
            }
                        
        }
          .BangBox{
            width: 100%;
            margin-top: 5%;
              
            h3{
                width: 100%;
                height: rem(44px);
                border-left: 8px solid orange;
                display: flex;
                align-items: center;
                font-size: 18px;
                padding-left: 5%;
            
            }
            .main-hot-con{
                width: 100%;
                display: flex;
                margin: 0 auto;
                flex-flow: wrap;
                border-top: 3px solid #eee;
            }
                        
        }
    }
}
